{%block content%}
<p>A former political operative who decided to make the jump over to web development, I bring the energy and vigor of the campaign to any project I am working on. I thrive under pressure and love the thrill of a sprint. I am a full stack developer with a proven track record of rapidly learning and leveraging new technologies to get the job done. While I do my best work on the back end, I am skilled at all levels of development, and more than capable of accomplishing any task client-side. I'd love to be a part of your team and look forward to putting my skills to work for you.</p>

<p>This portfolio is built with Django and is being actively mainatained and updated.</p>
{%endblock%}
